[submodule "taco-blockchain-gui"]
	path = taco-blockchain-gui
	url = https://github.com/superdutyf3/taco-network-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
